<h2>Welcome to PizzaShop</h2>

<% @product.each do |col| %>
	<div class="col-md-4">
		<div class="row" name='<%= col %>'>
			<p>	
				  	<div><%= col.title %></div>
				  	<div><img src='<%= col.path_to_image %>'/></div>  <!-- написать big_to_path для увеличения onclick="getThumbnail()" -->
				  	<div><%= col.description %></div>
				  	<div><%= col.price %></div>
				  	<div><%= col.size %></div>
				  	<div>
				  		<button class='btn btn-sm btn-success' onclick="add_to_cart(<%= col.id %>)">Add to cart</button>
				  	</div>
			</p>	
		</div>
	</div>		
<% end %>

<button class="btn btn-primary" onclick="something()">Click me</button>
